{{>header}}
{{>navbar}}

<div class="container">
    <ul>
      
        <Li>name:{{data.name}}</Li>
        <li>email:{{data.email}}</li>
        <li>age:{{data.age}}</li>
        <li>address:{{data.address}}</li>
    </ul>
</div>
{{>footer}}
